// Make button with specific color and outline statement
@mixin btn-color(
  $name,
  $arg,
  $theme: $color-white,
  $hover-color: darken($arg, 10%),
  $active-color: darken($arg, 20%),
  $outline-hover-color: $arg,
  $outline-active-color: darken($arg, 20%)
) {
  &--#{$name} {
    background-color: $arg;
    border-color: $arg;
    color: $theme;

    &:hover,
    &.btn--hover {
      background-color: $hover-color;
      border-color: $hover-color;
      color: $theme;
    }

    &:focus,
    &:active,
    &.btn--focus,
    &.btn--active {
      background-color: $active-color;
      border-color: $active-color;
      color: $theme;
    }

    &.btn--active {
      &:hover {
        background-color: $hover-color;
        border-color: $hover-color;
        color: $theme;
      }
    }

    &:disabled,
    &.btn--disabled {
      background-color: $arg;
      border-color: $arg;
      color: $theme;
    }

    &-outline {
      background-color: transparent;
      border-color: $arg;
      color: $arg;

      &:hover,
      &.btn--hover {
        background-color: $outline-hover-color;
        border-color: $outline-hover-color;
        color: $theme;
      }

      &:focus,
      &:active,
      &.btn--focus,
      &.btn--active {
        background-color: $outline-active-color;
        border-color: $outline-active-color;
        color: $theme;
      }

      &.btn--active {
        &:hover {
          background-color: $outline-hover-color;
          border-color: $outline-hover-color;
          color: $theme;
        }
      }

      &:disabled,
      &.btn--disabled {
        background-color: transparent;
        border-color: $arg;
        color: $arg;
      }
    }
  }
}

@mixin btn-base() {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: 1px solid $color-primary;
  border-radius: 100px;
  cursor: pointer;
  @include transition;
}

@mixin btn-small() {
  padding: 9px 12px;
  @include text-caption;
}

@mixin btn-regular() {
  padding: 13px 16px;
  @include text-button-s;
}

@mixin btn-large() {
  padding: 15px 20px 16px;
  @include text-button-m;
}

@mixin btn-primary() {
  color: $color-white;
  border-color: $color-primary;
  background-color: $color-primary;

  &:hover {
    color: $color-white;
    border-color: $color-primary-hover;
    background-color: $color-primary-hover;
  }
}
