@mixin triangle($width, $dir, $color) {
  @if $dir == up {
    width: 0;
    height: 0;
    border-left: $width/2 solid transparent;
    border-right: $width/2 solid transparent;
    border-bottom: $width/2 solid $color;
  } @else if $dir == down {
    width: 0;
    height: 0;
    border-left: $width/2 solid transparent;
    border-right: $width/2 solid transparent;
    border-top: $width/2 solid $color;
  } @else if $dir == right {
    width: 0;
    height: 0;
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-left: $width solid $color;
  } @else if $dir == left {
    width: 0;
    height: 0;
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-right: $width solid $color;
  }
}

@mixin square($size, $background: #fff, $border-radius: 0px) {
  width: $size;
  height: $size;
  display: inline-block;
  background: $background;
  border-radius: $border-radius;
}

@mixin circle($size, $background: #fff) {
  @include square($size, $background, 50%);
}

@mixin cross($size, $color) {
  display: block;
  position: relative;
  width: to-number($size);
  height: to-number($size);

  &::after,
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    display: block;
    width: #{diagonal(to-number($size))};
    height: 1.8px;
    border-radius: 5px;
    background-color: $color;
    @include transition;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
