.gallery-item {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  background: #CBCAB7;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.09);
  border: 1px solid #CBCAB7;
  border-radius: 10px;
  overflow: hidden;

  @include media(mobile) {
    justify-content: center;
  }

  &__link {
    flex: 0 1 auto;
    height: 100%;

    &::after {
      content: '';
      @include fill;
      opacity: 0;
      background: rgba(0, 0, 0, 0.2);
      transition: opacity 350ms ease;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &__image {
    display: block;
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    background: #F4F3E9;
    border-radius: 30px;
  }

  &__caption-text {
    display: block;
    min-width: 125px;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0E201A;
  }
}
