</main>

<footer class="footer page__footer bg-secondary">
  <div class="container-md">

    <div class="">
      <button class="home-cta__button js-popup-open" data-popup="popup-phone" type="button">Позвонить</button>
    </div>

  </div>
</footer>

</div>

{{> layout/bottom}}
