<header class="header page__header bg-secondary">
  <div class="container">
    <div class="header__navbar">
      <div class="header__logo">
        <a href="#">{{>ui/svg name="logo"}}</a>
      </div>
      <h1 class="header__title">Многофункциональный досуговый центр на Дубравной</h1>
      <ul class="header__contacts">
        <li class="header__contacts-item">
          <a href="tel:+79309093380" class="header__contacts-link">
            <span class="material-icons">call</span>
            8-930-909-33-80
          </a>
        </li>
        <li class="header__contacts-item">
          <a href="mailto:m.dubravnaya@gmail.com" class="header__contacts-link">
            <span class="material-icons">mail_outline</span>
            m.dubravnaya@gmail.com
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<main class="page__content">
