<div class="slider-nav{{#if nav-mode}} slider-nav--{{nav-mode}}{{/if}}">
  <button class="slider-nav__btn {{class}}__prev" type="button" aria-label="К предыдущему слайду.">
    {{>icons/arrow-left}}
  </button>
  <button class="slider-nav__btn {{class}}__next" type="button" aria-label="К следующему слайду.">
    {{>icons/arrow-right}}
  </button>
</div>