.home-intro {
  display: grid;
  align-items: center;

  @include media(tabletSmall, up) {
    grid-template-columns: minmax(0, 4fr) 2fr;
    grid-template-areas: 'img list' 'img title';
    grid-gap: 70px 50px;
  }

  @include media(tabletSmall) {
    grid-gap: 30px;
  }

  &__title {
    @include media(tabletSmall, up) {
      grid-area: title;
      align-self: flex-start;
    }
  }

  &__list {
    @include media(tabletSmall, up) {
      grid-area: list;
      align-self: flex-end;
    }

    > * + * {
      margin-top: 25px;

      @include media(tabletSmall) {
        margin-top: 15px;
      }
    }
  }

  &__list-item {
    position: relative;
    padding: 21px 15px 21px 63px;
    box-shadow: 0 10px 23px rgba(40, 45, 76, 0.1);
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    @include media(tabletSmall) {
      box-shadow: 0 5px 15px rgba(40, 45, 76, 0.15);
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 15px;
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $color-secondary;
      transform: translateY(-50%);
    }
  }

  &__image {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;

    @include media(tabletSmall, up) {
      grid-area: img;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
