.home-cta {
  padding: 30px 0 15px;

  &__content {
    position: relative;

    @include media(tabletSmall, up) {
      display: flex;
      align-self: center;
    }
    @include media(tabletSmall) {
      display: flex;
      flex-direction: column;
    }
  }

  &__header {
    .cta-link {
      max-width: 250px;
      width: 100%;
    }
  }

  &__action {
    @include media(tabletSmall, up) {
      margin-left: 230px;
    }

    @include media(tabletSmall) {
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
    }

    @include media(mobile) {
      margin: 25px 0 0;
    }
  }

  &__button {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 16px 90px;
    color: #FDFBF4;
    font-size: 36px;
    line-height: 42px;
    background: $color-primary;
    border: 1px solid lighten($color-primary, 15%);
    border-radius: 10px;
    @include transition;

    @include media(mobile) {
      font-size: 22px;
      padding: 8px 10px;
      width: 100%;
      display: block;
    }

    &:hover {
      background: $color-primary-hover;
    }
  }

  &__bg {
    position: absolute;
    top: -15px;
    right: -145px;

    @media (max-width: 1700px) {
      right: 0;
    }

    svg {
      min-width: 165px;
      height: auto;
    }
  }
}
