.home-contacts {
  &__grid {
    display: grid;
    grid-template-columns: minmax(0,4fr) 3fr;
    grid-gap: 50px;
  }

  &__action-btn {
    position: relative;
    padding-right: 75px;

    &:hover {
      .icon-next {
        right: 15px;

        i {
          width: 35px;
        }
      }
    }

    .icon-next {
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
      @include transition;

      i {
        width: 27px;
      }
    }
  }
}
