<div class="popup js-popup" data-popup-id="{{id}}">
  <div class="popup__wrapper">
    <div class="popup__inner">
      <button class="popup__close js-popup-close"></button>

      <div class="popup__window">
        <div class="popup__content">
          {{> @partial-block }}
        </div>
      </div>
    </div>
  </div>
</div>
