.section {
  padding: 90px 0;

  &__title {
    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 42px;
    padding-left: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 1;

    &::before {
      position: absolute;
      content: '';
      display: block;
      top: -2px;
      left: 0;
      width: 5px;
      height: 100%;
      background-color: $color-secondary;

      .bg-secondary & {
        background-color: currentColor;
      }
    }
  }

  &__text {
    margin-top: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }

  &__header + * {
    margin-top: 60px;
  }

  &__content {
    //margin-top: 60px;
  }
}
