<div class="section home-benefits">
  <div class="section__header">
    <div class="container-md">
      <h2 class="section__title">Наши преимущества:</h2>
    </div>
  </div>
  <div class="section__content">
    <div class="container">
      <ul class="home-benefits__list">
        <li class="home-benefits__item">
          <div class="home-benefits__item-img">
            {{>components/image no-2x=1 img="home/benefits/01" ext="png"}}
          </div>
          <div class="home-benefits__item-content">
            <p class="home-benefits__item-text">1 мин. от м. Митино</p>
          </div>
        </li>
        <li class="home-benefits__item">
          <div class="home-benefits__item-img">
            {{>components/image no-2x=1 img="home/benefits/02" ext="png"}}
          </div>
          <div class="home-benefits__item-content">
            <p class="home-benefits__item-text">Выгодная арендная ставка</p>
          </div>
        </li>
        <li class="home-benefits__item">
          <div class="home-benefits__item-img">
            {{>components/image no-2x=1 img="home/benefits/03" ext="png"}}
          </div>
          <div class="home-benefits__item-content">
            <p class="home-benefits__item-text">Любой метраж по согласованию</p>
          </div>
        </li>
        <li class="home-benefits__item">
          <div class="home-benefits__item-img">
            {{>components/image no-2x=1 img="home/benefits/04" ext="png"}}
          </div>
          <div class="home-benefits__item-content">
            <p class="home-benefits__item-text">Более 180 тыс. жителей в районе</p>
          </div>
        </li>
        <li class="home-benefits__item">
          <div class="home-benefits__item-img">
            {{>components/image no-2x=1 img="home/benefits/05" ext="png"}}
          </div>
          <div class="home-benefits__item-content">
            <p class="home-benefits__item-text">Стабильный поток посетителей</p>
          </div>
        </li>
        <li class="home-benefits__item">
          <div class="home-benefits__item-img">
            {{>components/image no-2x=1 img="home/benefits/06" ext="png"}}
          </div>
          <div class="home-benefits__item-content">
            <p class="home-benefits__item-text">Отличные рекламные возможности</p>
          </div>
        </li>
        <li class="home-benefits__item">
          <div class="home-benefits__item-img">
            {{>components/image no-2x=1 img="home/benefits/07" ext="png"}}
          </div>
          <div class="home-benefits__item-content">
            <p class="home-benefits__item-text">Рядом с остановками общественного транспорта</p>
          </div>
        </li>
        <li class="home-benefits__item">
          <div class="home-benefits__item-img">
            {{>components/image no-2x=1 img="home/benefits/08" ext="png"}}
          </div>
          <div class="home-benefits__item-content">
            <p class="home-benefits__item-text">Собственная большая парковка</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
