<div class="section home-benefits">
  <div class="section__header">
    <div class="container-md">
      <h2 class="section__title">Контакты:</h2>
      <p class="section__text">Запишитесь на просмотр помещения:</p>
    </div>
  </div>
</div>
