<div class="section bg-secondary home-cta">
  <div class="container-md">
    <section class="home-cta__content">
      <div class="home-cta__header">
        <h2 class="section__title">Площади в Аренду</h2>
        <a href="#" class="cta-link">Подобрать площадь <span class="icon-next"><i></i></span></a>
      </div>
      <div class="home-cta__action">
        <button class="home-cta__button" type="button">Позвонить</button>
      </div>
      <div class="home-cta__bg">
        {{>ui/svg name="bg-note"}}
      </div>
    </section>
  </div>
</div>
