<div class="section home-benefits">
  <div class="container-md">
    <div class="home-benefits__slider">

    </div>
    <div class="home-benefits__content">
      <h2 class="section__title">Описание объекта</h2>
      <p class="section__text">
        Многофунциональный досуговый центр в 1 минуте ходьбы от метро Митино. Современное 3-х этажное здание с подземным
        этажем. Панорамное остакление и эргономичная планировка помещений позволяют максимально эффективно использовать
        внутреннюю площадь. Здание расположено в густонаселенном районе, в непосредственной близости от остановок
        общественного транспорта.
      </p>
    </div>
  </div>
</div>
