<div class="section home-description">
  <div class="container-md">
    <div class="home-description__grid">
      <div class="home-description__slider js-base-slider">
        <div class="description-slider swiper-container js-base-slider__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="description-slider__image">
                {{>components/image img="intro/bg" ext="jpg"}}
              </div>
            </div>
            <div class="swiper-slide">
              <div class="description-slider__image">
                {{>components/image img="home/slider/02" ext="jpg"}}
              </div>
            </div>
            <div class="swiper-slide">
              <div class="description-slider__image">
                {{>components/image img="home/slider/03" ext="jpg"}}
              </div>
            </div>
            <div class="swiper-slide">
              <div class="description-slider__image">
                {{>components/image img="home/slider/04" ext="webp"}}
              </div>
            </div>
          </div>
        </div>
        <div class="description-slider__nav">
          {{>components/slider-nav nav-mode="between" class="js-base-slider"}}
        </div>
        <div class="description-slider__pagination js-base-slider__pagination"></div>
      </div>
      <div class="home-description__content">
        <h2 class="section__title">Описание объекта</h2>
        <p class="section__text">
          Многофунциональный досуговый центр в 1 минуте ходьбы от метро Митино. Современное 3-х этажное здание с
          подземным
          этажем. Панорамное остакление и эргономичная планировка помещений позволяют максимально эффективно
          использовать
          внутреннюю площадь. Здание расположено в густонаселенном районе, в непосредственной близости от остановок
          общественного транспорта.
        </p>
      </div>
    </div>
  </div>
</div>
