<div class="container-md">
  <section class="home-intro section">
    <h2 class="home-intro__title section__title">Ул. Дубравная, вл 33</h2>
    <div class="home-intro__image">
      {{>components/image img="intro/bg" ext="jpg"}}
    </div>
    <ul class="home-intro__list">
      <li class="home-intro__list-item">3-х этажное современное здание</li>
      <li class="home-intro__list-item">Шаг колонн 5,7 м</li>
      <li class="home-intro__list-item">Высокие потолки</li>
    </ul>
  </section>
</div>
