.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow {
  width: 9px;
  height: 16px;
}
.icon-bg-note {
  width: 168px;
  height: 164px;
}
.icon-logo {
  width: 58px;
  height: 54px;
}
.icon-popup-close {
  width: 26px;
  height: 26px;
}
