// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-red: #FF0000;

$color-primary: #DD6900;
$color-primary-hover: darken($color-primary, 5%);
$color-secondary: #1B74FD;
$color-secondary-hover: darken($color-secondary, 5%);

$color-placeholder: rgba(5, 36, 51, 0.2);
$color-input-border: #DAE4ED;

:root {
  // Gray
  --color-gray-100: #363C4E;
  --color-gray-100-overlay: #{transparentize(#363C4E, 0.3)};
  --color-gray-80: #717784;
  --color-gray-70: #7B88A5;
  --color-gray-60: #ADB3C5;
  --color-gray-40: #DFE3EC;
  --color-gray-20: #F2F4F8;
  --color-gray-10: #F6F9FF;
}

// Gray
$color-gray-100: var(--color-gray-100);
$color-gray-100-70: var(--color-gray-100-overlay);
$color-gray-80: var(--color-gray-80);
$color-gray-70: var(--color-gray-70);
$color-gray-60: var(--color-gray-60);
$color-gray-40: var(--color-gray-40);
$color-gray-20: var(--color-gray-20);
$color-gray-10: var(--color-gray-10);
